# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Python envs
venv/
.venv/
env/
ENV/
pyenv/

# Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Production builds
dist/
build/
out/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs/System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel
